<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newhunger="{{hungry}}">
		{{#if hungry}}Devour{{else}}Re-Order{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw Away?!</button>
</li>